@model Library.Presentation.MVC.ViewModels.EditBookViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="row">
    <div class="col-4 offset-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="custom-file">
                @if (Model.Picture != null && Model.Picture.Length > 0)
                {
                    <img src="data:image;base64,@(Convert.ToBase64String(Model.Picture))" class="card-img-top" />
                    <input type="hidden" asp-for="Picture"/>
                }
                <input asp-for="Avatar" type="file" class="custom-file-input" id="validatedCustomFile">
                <label asp-for="Avatar" class="custom-file-label" for="validatedCustomFile">Choose picture...</label>
                <span asp-validation-for="Avatar" class="text-danger "></span>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>

            <ul class="list-group" asp-for="Authors">
                Authors:

                @for (int i = 0; i < Model.Authors.Count; i++)
                {
                    <li class="list-group-item">
                        <input type="hidden" asp-for="Authors[i].Id"/>
                        <div class="form-group">
                            <label asp-for="Authors[i].FirstName" class="control-label"></label>
                            <input asp-for="Authors[i].FirstName" class="form-control"/>
                            <span asp-validation-for="Authors[i].FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Authors[i].LastName" class="control-label"></label>
                            <input asp-for="Authors[i].LastName" class="form-control"/>
                            <span asp-validation-for="Authors[i].LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Authors[i].DateOfBirth" class="control-label"></label>
                            <input asp-for="Authors[i].DateOfBirth" class="form-control"/>
                            <span asp-validation-for="Authors[i].DateOfBirth" class="text-danger"></span>
                        </div>
                    </li>
                }
            </ul>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
            <br>
        </form>
    </div>
</div>
